@import '../styles/mixin.scss';

.credit-card {
    position: relative;
    // background-color: rgb(13, 13, 233);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    width: 400px;
    max-width: 400px;
    height: 235px;
    text-align: center;
    border-radius: 25px;


    color: #000;
    background-color: #fff;
    border: #eee 1px solid;


    .card-top {
        position: absolute;
        padding: 25px;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 50px);
        user-select: none;

        p {
            margin: 0;
        }

        .balance {
            font-size: 1.2rem;
            font-weight: 700;
        }

        .chip {
            -webkit-user-drag: none;
            filter: invert(1);
        }
    }

    .card-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 50px);
        height: 100px;
        font-weight: 200;

        p {
            margin: 0;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    .card-footer {
        bottom: 0;
        padding-inline: 25px;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 50px);
        height: 70px;
        font-size: 1.3rem;
        font-weight: 700;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        user-select: none;
        border-top: #eee 1px solid;

        .card-logo {
            -webkit-user-drag: none;
            filter: invert(1);
        }
    }
}

.card-default {
    color: #fff;
    background-color: #000;
    background: linear-gradient(to bottom right, #4c49ed, #0a06f4);
    border: none;

    >.card-top .chip {
        filter: none;
    }

    >.card-footer {
        border-top: none;

        .card-logo {
            filter: none;
        }
    }
}