	@import '../styles/mixin.scss';

.nav {
    display: flex;
    flex-direction: row;
    border-bottom: #F4F5F7 1px solid;
    margin-bottom: 52px;

    .nav-item {
        height: 36px;
        width: 114px;
        border-bottom: 3px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    .active {
        border-bottom: 3px solid #0026ff;
        font-weight: 800;
        color: #0026ff;

    }
}

.setting-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    @include mobile {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .setting-avt-group {
        position: relative;

        .setting-avt {
            width: 130px;
            height: 130px;
            border-radius: 50%;

        }

        .btn-edit {
            position: absolute;
            right: -2px;
            bottom: 16px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: #1814F3;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            }

            input {
                display: none;
            }

            img {
                width: 15px;
                height: 15px;
            }
        }
    }

    .setting-form {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        width: calc(418px * 2 + 29px);

        @include mobile {
            width: 100%;
            display: flex;
            flex-direction: column;
        }


        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 22px;
            width: 418px;

            @include mobile {
                width: 100%;
            }

            label {
                color: #000;
            }

            input {
                margin-top: 11px;
                height: calc(50px - (16px * 2));
                border-radius: 20px;
                padding-block: 16px;
                padding-inline: 20px;
                outline: none;
                border: #DFEAF2 1px solid;
                color: #718EBF;

                &::placeholder {
                    color: inherit;

                    &:-ms-input-placeholder {
                        color: #718EBF;
                    }
                }
            }
        }
    }
}

.preference-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 22px;
        width: 49%;

        label {
            color: #000;
        }

        input {
            margin-top: 11px;
            height: calc(50px - (16px * 2));
            border-radius: 20px;
            padding-block: 16px;
            padding-inline: 20px;
            outline: none;
            border: #DFEAF2 1px solid;
            color: #718EBF;

            &::placeholder {
                color: inherit;

                &:-ms-input-placeholder {
                    color: #718EBF;
                }
            }
        }
    }
}

.btn-save {
    float: inline-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 50px;
    border-radius: 15px;
    background-color: #1814F3;
    color: #fff;
    cursor: pointer;
}