@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import '../styles/mixin.scss';

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}


.default-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    width: 100%;
}



.right-side {
    width: calc(100% - 250px);

    @include mobile {
        width: 100%;
    }
}


.content {
    padding: 20px 40px;
    white-space: nowrap;

    @include mobile {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        width: calc(100% - 20px);
    }
}